@import "~font-awesome/css/font-awesome.min.css";


.header-menu{
    margin-top: -8%;
}
section.hero_area{
    border-radius: 50px;
    background-size: cover;
}
.header-menu ul li{
    margin: 0 15px 0;
}
.category-item i {
    font-size: 23px;
}
.tag-icon i{
    font-size: 13px;
}

.client-slide{
    justify-items: center;
}
.slick-slide{
    padding: 15px;
}

@media only screen and (max-width: 747px) {
    #mob{
        display: none !important;
    }
    .hero_area {
        margin-top: 25%;
        padding: 30px;
    }
}


.consalt-header-area{
    margin-bottom: -150px;
}


.about_shape {
    position: absolute;
    bottom: -14%;
    right: 2%
}
.service_single_item.style_two .service_thumb{
    display: block;
}









.hero_content h4{
    padding-left: 0px;
}
.mean-container .mean-bar::before{
    content:'';
}
.mean-container .mean-bar{
    background: #053131 !important;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 0 15px;
  border: none;
  transition: max-height 0.4s ease, opacity 0.4s ease, padding 0.4s ease;
}

.faq-answer.open {
  max-height: 300px;
  opacity: 1;
  padding: 24px 42px 33px 40px;
  background: #fff;
  filter: drop-shadow(0px 10px 40px rgba(12, 110, 109, 0.1));
  border: 1px solid #eee;
  border-top: none;
}

.faq-answer p {
  font-size: 16px;
  color: #6b7a7a;
  margin: 0;
}
